@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter-Regular";
  src: local("Inter Regular"),
    url("./components/font/Inter/Inter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter-Bold";
  src: local("Inter Bold"),
    url("./components/font/Inter/Inter-Bold.ttf") format("truetype");
}

@layer components {
  * {
    @apply text-black;
    font-family: "Inter-Regular", sans-serif;
  }

  .nav {
    @apply text-[#03045E]  flex  justify-between px-[25px] py-[12.5px] sticky top-0 left-0 w-full z-[1] bg-white;
  }

  .nav-body {
    @apply items-center flex justify-between w-full  mt-3;
  }
  .burger {
    @apply text-3xl absolute right-8 top-8 cursor-pointer md:hidden ;
  }

  .list-body {
    @apply md:flex md:items-center md:justify-between grid grid-flow-col;
  }

  .list {
    @apply md:flex justify-between  h-[700%] md:h-full absolute md:static bg-red md:z-auto z-[-50] left-0 md:w-[1130px] w-full mx-[24px] transition-all duration-500 ease-in  ;
  }

  .list-container {
    @apply md:p-0 md:m-0 p-3 m-6 grid  md:flex  w-[380px] md:justify-between md:h-auto h-[200px] md:gap-[10px] items-center;
  }

  .product {
    @apply relative hover:visible;
  }
  .dropdown {
    @apply absolute z-[1]  mt-[40px] h-[200px] w-[350px] p-[25px]  hidden;
  }

  .icon-bg {
    @apply rounded-full bg-[#FFFAF0] w-[50px] h-[50px] p-3;
  }

  .dropdown-item {
    @apply flex flex-col justify-around;
  }

  .items {
    @apply flex  justify-between w-[300px] px-[10px];
  }

  .sign-in {
    @apply flex flex-col lg:flex-row md:mt-[74px] lg:mt-0 lg:mb-0 md:px-[25px] py-[10px] md:py-0 lg:px-0 md:mb-0 md:gap-[30px] mb-10 mx-[30px] md:items-center items-start;
  }

  .account {
    @apply rounded text-center gap-2 font-semibold text-[16px] inline-flex items-center justify-center  disabled:cursor-not-allowed md:min-w-[166px] h-[45px] min-w-[100%] bg-primary hover:bg-primary/80 md:font-[500] md:text-[14px];
  }

  .footer-body {
    @apply text-white bg-[black] md:h-[1080px]  h-[1450px];
  }

  .footer-header {
    @apply text-white font-bold md:text-[48px] tracking-[-0.03em] text-[32px] md:leading-[59.04px] leading-[40.2px] md:tracking-[-0.04em] lg:flex gap-2 justify-center text-center min-w-max lg:mt-0  mt-4;
  }

  .footer-h5 {
    @apply  text-white  md:text-[21px] text-[14px] md:leading-[30.5px] leading-[19.6px] font-semibold w-[240px] md:w-[350px] lg:w-auto mx-auto normal-case  pt-3 lg:pt-4 text-center  ;
  }

  .appstore {
    @apply flex lg:justify-center justify-between lg:gap-6 gap-5 mt-8 mb-4 lg:mb-0 text-white ;
  }

  .appstore-link {
    @apply  flex items-center justify-center gap-[10px] text-white lg:text-[18px] text-[15px] py-3 lg:py-4 lg:w-[174px] w-[147px] rounded-[26px] bg-[#202024] ;
  }

  .footer-list-top {
    @apply  md:text-[16px] text-[14px] md:leading-[28.8px] leading-[25.2px] text-[#ffffff49] ;
  }

  .footer-list {
    @apply  text-[14px] leading-[22px] md:text-[16px] md:leading-[24px] font-normal text-white ;
  }

  .footer-privacy {
    @apply  flex flex-col md:items-start md:text-right p-[25px]  ;
  }

  .footer-privacy-li {
    @apply md:ml-8 ml-4 first:ml-0  ;
  }

  .footer-privacy-p {
    @apply  md:text-[16px] text-[14px] md:leading-[28.8px] leading-[25.2px] text-white ;
  }

  .address-container {
    @apply  md:flex justify-between pt-6  border-t-[0.3px]  mb-5 text-white p-[25px]   ;
  }

  .footer-address {
    @apply  grid md:grid-cols-2 max-w-[1000px] gap-4  ;
  }
  .footer-address-p {
    @apply  md:text-[14px] text-[12px] md:leading-[25.2px] leading-[21.6px] text-white  ;
  }




















}
